@model FinanceNewsPortal.Web.Models.NewsArticle

@{
    ViewData["Title"] = Model.Title;
}

<section>
    <h1>@Model.Title</h1>
    <p>By @($"{Model.Author.FirstName} {Model.Author.LastName}")</p>
    <p>Created at @Model.CreatedAt</p>
    <hr />
    <div class="container my-4">
        @Html.Raw(Model.Description)
    </div>
</section>
