@model FinanceNewsPortal.Web.Models.NewsArticle

@{
    ViewData["Title"] = Model.Title;
}

<section>
    <a asp-action="GetAllCreated" class="btn btn-primary mb-4">Back to your News Articles</a>
    <h1>@Model.Title</h1>
    <p>By @($"{Model.Author.FirstName} {Model.Author.LastName}")</p>
    <p>Created at @Model.CreatedAt</p>
    <hr />
    <img src='~/@(Model.ImageFilePath != null ? $"uploads/news-image/{Model.ImageFilePath}" : "img/newspaper.png")'
        class="img-fluid" alt="">
    <div class="container my-4">
        @Html.Raw(Model.Description)
    </div>
</section>
