@model UpsertNewsArticleViewModel

@{
    ViewData["Title"] = "Edit News";
}

<section>
    <div>
        <a class="btn btn-primary" asp-action="GetAllCreated">Back to your News Articles</a>
    </div>
    <form asp-action="Edit" class="my-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" value="@Model.Id" hidden />
        <div class="form-outline mb-2">
            <label class="form-label custom-form-label" asp-for="Title">Update Title</label>
            <div>
                <input asp-for="Title" class="form-control" value="@Model.Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-outline mb-4">
            <label class="form-label custom-form-label" asp-for="Context">Update Context</label>
            <div>
                <textarea asp-for="Context" class="form-control">@Model.Context</textarea>
                <span asp-validation-for="Context" class="text-danger"></span>
            </div>
        </div>
        <input type="Submit" class="btn btn-primary" value="Update" />
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        tinymce.init({
            selector: 'textarea#Context'
        });
    </script>
}
