@model UpdatePasswordViewModel

@{
    ViewData["Title"] = "Edit Password";
}

<section class="form-section">
    <a asp-controller="User" asp-action="Profile" class="btn btn-primary mb-4">Back to Profile</a>
    <form asp-controller="Auth" asp-action="EditPassword">
        <h1 class="h3 mb-3 fw-normal">Edit Password</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="CurrentPassword">
            <label asp-for="CurrentPassword" class="form-label">Current Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="NewPassword">
            <label asp-for="NewPassword" class="form-label">New Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="ConfirmNewPassword">
            <label asp-for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
    </form>
</section>