@model RegisterUserViewModel

@{
    ViewData["Title"] = "Register";
}

<section class="form-section">
    <form asp-controller="Administrator" asp-action="CreateModerator">
        <h1 class="h3 mb-3 fw-normal">Create Moderator</h1>

        <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>

        <div class="form-floating">
            <input type="text" class="form-control" asp-for="FirstName">
            <label asp-for="FirstName" class="form-label">First Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="LastName">
            <label asp-for="LastName" class="form-label">Last Name</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" asp-for="Email">
            <label asp-for="Email" class="form-label">Email address</label>
        </div>
        <div class="form-floating">
            <select asp-for="Gender" class="form-control" asp-items="ViewBag.GenderList"></select>
            <label asp-for="Gender" class="form-label">Gender</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="Password">
            <label asp-for="Password" class="form-label">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="ConfirmPassword">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
    </form>
</section>