@model ApplicationUser

@{
    ViewData["Title"] = "User Details";
}

<a asp-action="GetAllUsers" class="btn btn-primary">Back to List</a>
<section class="container d-flex justify-content-center">
    <div class="card" style="width: 24rem;">
        <div class="d-flex justify-content-center my-4">
            <img src='~/@(Model.ImageFilePath != null ? $"uploads/profile-image/{Model.ImageFilePath}" : "img/user.png")'
                class="card-img-top img-fluid" style="width: 10rem; height: 10rem;" alt="">
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="fas fa-user-circle"></i>
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
            </li>
            <li class="list-group-item">
                <i class="fas fa-at"></i>
                @Html.DisplayFor(model => model.Email)
            </li>
            <li class="list-group-item">
                <i class="fas fa-venus-mars"></i>
                @(Model.Gender == 'M' ? "Male" : "Female")
            </li
        </ul>
    </div>
</section>

