@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --yellow: #cfd20b;
    --black: #151515;
    --white: #e4e4e4;
    --transition-delay: 600ms;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
    color: var(--white) !important;
}

.navbar-brand {
    color: var(--white);
    font-weight: 900;
    size: 2rem;
}

.navbar-toggler {
    background-color: var(--yellow);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(34, 35, 28, 0.868)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: var(--black);
}

.list-group>.custom-list-group-item {
    background-color: var(--black);
    color: var(--white);
}

.card {
    color: var(--black);
}

.nav-link:hover,
.custom-link:hover,
.navbar-brand:hover {
    color: var(--yellow);
    text-decoration-color: var(--white);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: --transition-delay;
}

.table {
    background-color: var(--white);
}

.form-section {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-section .checkbox {
    font-weight: 400;
}

.form-section .form-floating:focus-within {
    z-index: 2;
}

.form-section input,
.form-section select {
    border-radius: 10px;
    margin-bottom: 10px;
}

.form-label {
    color: var(--black)
}

.custom-description-list {
    padding-top: 0.5rem;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--black);
}

.nav-link,
.custom-link,
.navbar-brand {
    color: var(--white);
    text-decoration: underline;
    text-decoration-color: var(--yellow);
    text-underline-offset: 5px;
    font-weight: 900;
}

.navbar-img-logo {
    width: 2rem;
    height: 2rem;
}

.custom-component-link,
.custom-component-link:hover {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: var(--transition-delay);
}

.custom-button-link {
    background-color: var(--yellow);
    text-decoration: none;
}

.custom-button-link > div {
    color: var(--black)
}

.custom-simple-dark-link, .custom-simple-dark-link:hover {
    color: var(--black);
}

.custom-news-items {
    background-color: #FFFFFF;
}

.card {
    border: 0;
}

.custom-form-label {
    color: var(--white);
    font-weight: 500;
    font-size: 1.5rem;
}

.custom-image-thumbnail {
    width: auto;
    height: 250px;
}

.image-file-reminder {
    background-color: #ff0000;
    color: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
