@model UpsertCompanyViewModel

@{
    ViewData["Title"] = "Update Company";
}

<a asp-controller="Company" asp-action="GetAll" class="btn btn-primary">Go Back to List</a>
<section class="form-section">
    <form asp-controller="Company" asp-action="Edit">
        <input asp-for="Id" value="@Model.Id" hidden/>
        <h1 class="h3 mb-3 fw-normal">Update Company</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Name" value="@Model.Name">
            <label asp-for="Name" class="form-label">Name</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" asp-for="Address" value="@Model.Address">
            <label asp-for="Address" class="form-label">Address</label>
        </div>
        <div class="form-floating">
            <input class="form-control" asp-for="FoundedAt" value="@Model.FoundedAt.ToString("yyyy-MM-ddThh:mm")">
            <label asp-for="FoundedAt" class="form-label">Founded Date</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Create</button>
    </form>
</section>