@model List<Company>

@{
    ViewData["Title"] = "Companies";
}

<table class="table rounded-3">
    <thead>
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Address</th>
            <th scope="col">Date Founded</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var company in Model)
        {
            <tr>
                <th>@Html.DisplayFor(model => company.Name)</th>
                <th>@Html.DisplayFor(model => company.Address)</th>
                <th>@Html.DisplayFor(model => company.FoundedAt)</th>
                <th>
                    <a href="#" class="btn btn-primary">View</a>
                </th>
            </tr>
        }
    </tbody>
</table>